@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Yekan";
    src: url("./assets/fonts/YekanBakhMedium.woff") format("woff");
  }
  body {
    font-family: "Yekan", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }
  @keyframes moveDowntoUp {
    from {
      top: 100%;
    }
    to {
      top: 0;
    }
  }
  @keyframes moveUptoDown {
    from {
      top: 0;
      visibility: visible;
    }
    to {
      top: 100%;
      visibility: hidden;
    }
  }
  @keyframes scaleUp {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes scaleDown {
    from {
      transform: scale(1);
      visibility: visible;
    }
    to {
      transform: scale(0);
      visibility: hidden;
    }
  }
  ::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #252527;
  }
}
