.box_button{
  display: inherit;
}
.buttom{
  width: 80px;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 4px;
}
.title_button{
  text-align: center;
  font-weight: bold;
  background-color: #a1a1a126;
  padding: 3px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin: 0;
  height: 13px;  
  font-size:11px;
}
.checkbox{
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  margin: 0;
  position: relative;
  z-index: 2;
}
.layer{

  position: relative;

 /*  background-color: #23a132;
  top: -41px;
  left: 0.5%;
  transition: 0.3s ease all;
 */   top: -41px;
   width: 46px;
  height: 20px;
  border-radius: 3px;
  transition: 0.3s ease all;
  left: 42.5%;
  background-color: #f44336;
  color: black;

}

.checkbox:checked ~ .layer {
  border-radius: 3px;
  height: 20px;
  width: 35px;
  color: black;
  top: -41px;
  background-color: #23a132;
  left: 0.5%;
  transition: 0.3s ease all;
}
.checkbox:checked + .lable_check {
  color: white;
}
.checkbox:checked + .lable_check .mrg {
  color: black;
}
.lable_check{
  top: -24px;
  font-weight: bold;
  font-size: 11px;
  position: relative;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  color: black;
  gap: 10px;
}
/* .lable_check p {
  margin: 0;
} */
.lable_check .mrg{
color: white;
} 
/* .lable_check .mrg{
color: white;
  margin-left: 10px;
} 
/* .fs-11{
  font-size:11px;
} */
.hidden{
  visibility: hidden;
}